*{
    margin:0px;
    padding:0px;
    font-family:'poppings',sans-serif;
    box-sizing:border-box;
}
body{
    background-color: lightgrey;
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background:purple;
    padding: 5px 5%;
    position: sticky;
    top:0;
    z-index: 100;
}
.logo{
    width:200px;
    margin: right 45px;
}
.nav-left,.nav-right{
    display: flex;
    align-items:center;
}
.nav-left ul li{
     list-style: none;
     display: inline-block;

}
.nav-left ul li img{
    width:28px;
    margin: 0 15px;
}
.user img{
    width:40px;
    border-radius: 50%;
    cursor:pointer ;
}
.user{
    margin-left: 30px;
}
.search-box{
    background:#efefef;
    width:350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding:0 15px;
}
.search-box img{
    width: 18px;
}
.search-box input{
    width: 100%;
    background:transparent;
    padding:10px;
    outline: none;
    border:0;
}
.online{
    position: relative;
}
.online::after{
   content: ''; 
   width: 7px;
   height: 7px;
   border: 2px solid #fff;
   border-radius:50%;
   background: #41db51;
   position:absolute;
   top:0;
   right:0;
}
.main{
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
}
.left{
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self:flex-start;
    background:#fff;
    padding:5px;
    border-radius:4px;
    color:#626262;   
}
.left img{
    width: 45px;
    border-radius: 50%;
}
.left-profile{
    border: 2px solid purple;
    border-radius:50px;
    display: flex;
    align-items:center;
}
.menu{
    margin-top: 20px;
}
.icon{
    cursor: pointer;
    margin-right: 50px;
}
.icon:hover{
    opacity: .7;
}
.notifi-box{
    width: 300px;
    height: 0px;
    opacity: 0;
    left: 100px;
    background-color: purple;
    color: white;
    position: absolute;
    transition: 1s opacity,250ms height;
    box-shadow: 0 4px 8px 0 rgba(142, 7, 147, 0.2),0 6px 20px 0 rgba(114, 11, 146, 0.19);
}

.create-post-btn{
    padding-bottom: 10px;
    padding-top: 10px;
    color:white;
    border: 2px solid white;
    border-radius: 50px;
    background-color: purple;
    text-align: center;
}
.create-post-btn a{
    text-decoration: none;
    color: white;
}
.btn{
    background-color: purple;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    display: inline-flex;
    border-radius: 4px;
}
.btn:hover{
    background-color: green;
} 
.btn:active{
    background-color: aqua;
}
.left h3{
    display:flex;
}
.profile-photo img{
    position:absolute;
    width:45px;
    border-radius: 50%;
    top:3px;
    left:3px;
    border: 3px solid purple;
    display: inline-flex;
}
.right{
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self:flex-start;
    padding:5px;
    background-color: white;
    border-radius:4px;
    color:#626262;
}
.main-content{
    flex-basis :47%;
}
.friend-list{
    padding-bottom: 10px;
    padding-top: 10px;
    color:white;
    border: 2px solid white;
    border-radius: 18px;
    background-color: purple;
    text-align: center;
}
.friend-names{
    padding-top: 20px;
}
.online-list{
    display: flex;
    align-items:center;
    margin-bottom:20px;
}
.online-list,.online img{
    width:40px;
    border-radius: 50%;
}
.online-list,.online{
    width:40px;
    border-radius:50%;
    margin-right:15px;
}
.online-list,.online::after{
    top:unset;
    bottom: 5px;
}
.story-gallery{
    display:flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.story-main{
    display:flex;
    width:200px;

}
.story{
    flex-basis:18%;
    display: flex;
    padding-top: 32%;
    position:relative;
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)),url(images/status-1.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;

} 
.story img{
    position:absolute;
    width:45px;
    border-radius: 50%;
    top:3px;
    left:3px;
    border: 3px solid white;
    display: flex;
}
.story p{
    position:absolute;
    bottom:10px;
    width:100%;
    text-align: center;
    color:#fff;
}
.story1{
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)),url(images/profileback.jpg);
}
.story2{
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)),url(images/profile2.jpg);
}
.story3{
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)),url(images/profile3.jpg);
}
.story4{
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)),url(images/profile4.jpg);
}
.story5{
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)),url(images/profile5.jpg);
}

.write-post-container{
    width:100%;
    background:#fff;
    border-radius: 6px;
    padding: 20px;
    color:#626262;
}
.user-profile{
    display: flex;
    align-items: center;

}
.user-profile img{
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}
.user-profile p{
    margin-bottom: -5px;
    font-weight: 500;
    color: #626262;

}
.user-profile small{
    font-size: 12px;

}
.post-input-container{
    padding-left: 55px;
    padding-top: 20px;
}
.post-input-container textarea{
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    
}
.add-post-links{
    display: flex;
    margin-top: 10px;
}
.add-post-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 30px;
    font-size: 13px;
}
.add-post-links a img{
    width: 20px;
    margin-right: 10px;
}
.post-container{
    width: 100%;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 20px 0;
}
.user-profile span{
    font-size: 13px;
    color:#9a9a9a;

}
.post-text{
    color: #9a9a9a;
    margin: 15px 0;
    font-size: 15px;
}
.post-text span{
    color: #626262;
    font-weight: 500;

}
.post-img{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;   
}
.post-row{
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.activity-icons div img{
    width:18px;
    margin-right:10px;

}
.activity-icons div{
    display:inline-flex;
    align-items:center;
    margin-right:30px;
}
.post-profile-icon img{
    width:20px;
    border: 50%;
    margin-right:5px;
}
.post-row a{
    color:#9a9a9a;
}
.load-more-btn{
    display:block;
    margin:auto;
    cursor:pointer;
    padding: 5px 10px;
    border: 1px solid #9a9a9a;
    color: #626262;
    background: transparent;
    border-radius: 4px;
    text-align:center;
}
.footer{
    text-align:center;
    color:#9a9a9a;
    padding: 10px 0 20px;
    font-size:13px;
}
.settings-menu{
    position: absolute;
    width:90%;
    max-width:35px;
    height:500px;
    background:#fff;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
    border-radius: 4px;
    overflow: hidden;
    top:100px;
    right:5%;
}
.profile-container{
    padding:20px 15%;
    color:#626262;

}
.cover-img{
    width:100%;
    height: 400px;
    border-radius: 6px;
    margin-bottom: 14px;
}
.profile-details{
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
}
.pd-row{
    display: flex;
    align-items: flex-start;

}
.pd-image{
    width:100px;
    margin-right: 20px;
    border-radius: 6px;
}
.pd-row div h3{
    font-size: 25px;
    font-weight: 600;
}
.pd-row div p{
    font-size: 13px;
}
.pd-row div img{
    width:25px;
    border-radius: 50%;
    margin-top: 12px;
}
.pd-right button{
    background: purple;
    border: 0;
    outline: 0;
    padding: 6px;
    display:inline-flex;
    align-items: center;
    color:white;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
}
.pd-right{
    text-align: right;

}
.pd-right a{
    background: #e4e6eb;
    border-radius:3px;
    padding:12px;
    display:inline-flex;
    margin-top: 30px;
}
.pd-right a img{
    width:20px;
}
.profile-info{
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top:20px ;
}
.info-col{
    flex-basis: 33%;
}
.post-col{
    flex-basis: 65%;
}
.profile-intro{
    background-color: white;
    padding:20px;
    margin-bottom: 20px;
    border-radius: 4px;

}
.profile-intro h3{
    font-weight: 600;

}
.intro-text{
    text-align: center;
    margin:10px 0;
    font-size:15px;
}
.intro-text img{
    width:15px;
    margin-bottom:8px ;

}
.profile-intro hr{
    border:0;
    height: 1px;
    background:purple;
    margin:24px 0;
}
.title-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title-box a{
    text-decoration: none;
    color:purple;
    font-size: 14px;
}
.photo-box{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 10px;
    margin-top: 15px;
}
.photo-box div img{
    width: 100%;
    cursor: pointer;
}
.profile-intro p{
    font-size: 14px;
}
.go-back-btn {
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: purple;
    color: white;
    border-radius: 6px;
    border: 2px solid white;
    font-size: 20px;
    margin-bottom: 10px;
}
.go-back-btn:hover{
    background-color: #41db51;
}



